# ==========================
# Dependencies
# ==========================
node_modules/
**/node_modules/

# ==========================
# Environment Variables
# ==========================
.env
**/.env

# ==========================
# Build Files
# ==========================
dist/
**/dist/
.vite/
**/.vite/

# ==========================
# Logs
# ==========================
logs/
*.log
npm-debug.log*

# ==========================
# Operating System Files
# ==========================
.DS_Store
Thumbs.db

# ==========================
# VS Code
# ==========================
.vscode/

# ==========================
# Temporary Files
# ==========================
*.tmp
*.cache